.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
  margin: 0 20px;
}

textarea {
  padding: 6px;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  textarea {
    width: 50%;
  }
}

.rounds {
  display: flex;
  justify-content: space-between;

  overflow: auto;
  white-space: nowrap;
  max-width: 90vw;
}

.round {
  padding-left: 40px;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}

.player {
  background-color: lightgrey;
  padding: 5px 15px;
  margin: 5px 0;
  min-height: 30px;
  min-width: 120px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player.disabled {
  background-color: rgb(237, 237, 237);
  cursor: default;
}

.round:not(:last-child) .player::after {
  content: "";
  position: absolute;
  background-color: black;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 20px;
  height: 1px;
}

.round:not(:first-child) .player::before  {
  content: "";
  position: absolute;
  background-color: black;
  left: 0;
  top: 50%;
  transform: translateX(-100%);
  width: 20px;
  height: 1px;
}

.player span {
  pointer-events: none;
}

.match {
  flex: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  position: relative;
}

.round:not(:last-child) .match::after {
  content: "";
  position: absolute;
  background-color: black;
  right: -20px;
  width: 1px;
  height: 50%;
}
